.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

form{
  background: rgb(248, 255, 118);
  padding: 23px 13px 6px 17px;
  color: rgba(223, 42, 126, 0.74);
}
 #wanted{
  background: rgba(223, 154, 255, 0.89);
  padding: 13px 13px 21px 21px;
  color: rgba(38, 73, 75, 0.845);
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3f2b5ec8;
  transition: all 1s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(223, 187, 227);
}

.App-link {
  color: #61cafb98;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
