body {
  margin: 0;
  padding: 20px;
  background: grey;
  font-family:  'Oxygen',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img{
  padding: 69px;
  position: absolute;
  top: 21px;
  bottom:21px;
  opacity: 0.6;

}

.home .post{
  overflow: hidden;
}

nav a.active{
  border-bottom: 5px solid rgba(42, 54, 50, 0.892);
  transition: all ease 0.5s;
}
.container{
  margin-top: 20px;
}

.home .post{
  overflow: hidden;
  padding-left: 80px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
